streamlit
dataclasses
pyttsx3
SpeechRecognition
langchain
langchain-groq
langchain-community
huggingface-hub
sentence-transformers
faiss-cpu
PyPDF2
nltk
streamlit-webrtc
opencv-python
numpy
smtplib
email
pydub
python-dotenv
