streamlit
streamlit-webrtc
langchain
langchain-core
langchain-community
langchain-groq
huggingface-hub
sentence-transformers
PyPDF2
speechrecognition
pyttsx3
opencv-python
numpy
pytz
nltk
faiss-cpu
python-dotenv
openai
groq
pyaudio
email-validator
cv2
