streamlit
dataclasses
pyttsx3
SpeechRecognition
langchain
langchain-groq
langchain-community
huggingface-hub
sentence-transformers
PyPDF2
nltk
opencv-python
streamlit-webrtc
faiss-cpu
numpy
email-validator
pydub
openai
groq
